<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:insert="~{t::top}"></div>
<form th:action="@{/upd}" method="post">
    <div>
        <label>id</label>
        <input th:value="${emp.getId()}" type="text" name="id">
    </div>
    <div>
        <label>name</label>
        <input th:value="${emp.getName()}" type="text"  name="name">
    </div>
    <div>
        <label>gender</label>
        男<input th:checked="${emp.getGender()==1}" type="radio"  name="gender" value="1">
        女<input th:checked="${emp.getGender()==0}" type="radio"  name="gender" value="0">
    </div>
    <div>
        <label>department</label>
        <select name="department.id">
            <option th:selected="${dept.getId()==emp.getDepartment().getId()}" th:each="dept:${department}" th:text="${dept.getDename()}" th:value="${dept.getId()}"></option>
        </select>
        <!--<input type="text"  name="department">-->
    </div>
    <button type="submit">修改</button>
</form>
</body>
</html>